.page-titles {
    margin: 0;
}
.container-fluid {
    padding: 0 15px;
}
.help-block-error {
    color: #fc6180;
}
#admin-content h1 {
    line-height: 30px;
    font-size: 21px;
}

/*#admin-content p {*/
    /*display: none;*/
/*}*/
.glyphicon {
    display: inline-block;
    padding: .35em .75em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.glyphicon-eye-open{
    background-color: #5c4ac7;
    color: #fff;
}
.glyphicon-pencil {
    background-color: #26dad2;
    color: #fff;
}
.glyphicon-trash {
    background-color: #ef5350;
    color: #fff;
}
.has-error .help-block {
    color: #fc6180;
}
.navbar {
    margin-bottom: 0 !important;
}

.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    line-height: unset;
}
.upload-kit .upload-kit-input .drag, .upload-kit .upload-kit-input .add {
    top: 42%;
}
.form-control {
    height: unset;
}
.multiple-input-list__item .radio, .multiple-input-list__item .checkbox {
    margin: 0;
}
.radio label, .checkbox label {
    line-height: 20px;
}