@charset "UTF-8";
/* Код для подключения шрифта в /css/stylename.css */
@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../fonts/AvenirNext-Bold/AvenirNext-Bold.eot");
  src: url("../fonts/AvenirNext-Bold/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Bold/AvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold/AvenirNext-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvenirNext-BoldItalic";
  src: url("../fonts/AvenirNext-BoldItalic/AvenirNext-BoldItalic.eot");
  src: url("../fonts/AvenirNext-BoldItalic/AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-BoldItalic/AvenirNext-BoldItalic.woff") format("woff"), url("../fonts/AvenirNext-BoldItalic/AvenirNext-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvenirNext-Heavy";
  src: url("../fonts/AvenirNext-Heavy/AvenirNext-Heavy.eot");
  src: url("../fonts/AvenirNext-Heavy/AvenirNext-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Heavy/AvenirNext-Heavy.woff") format("woff"), url("../fonts/AvenirNext-Heavy/AvenirNext-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvenirNext-HeavyItalic";
  src: url("../fonts/AvenirNext-HeavyItalic/AvenirNext-HeavyItalic.eot");
  src: url("../fonts/AvenirNext-HeavyItalic/AvenirNext-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-HeavyItalic/AvenirNext-HeavyItalic.woff") format("woff"), url("../fonts/AvenirNext-HeavyItalic/AvenirNext-HeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvenirNext-Italic";
  src: url("../fonts/AvenirNext-Italic/AvenirNext-Italic.eot");
  src: url("../fonts/AvenirNext-Italic/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Italic/AvenirNext-Italic.woff") format("woff"), url("../fonts/AvenirNext-Italic/AvenirNext-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvenirNext-Medium";
  src: url("../fonts/AvenirNext-Medium/AvenirNext-Medium.eot");
  src: url("../fonts/AvenirNext-Medium/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Medium/AvenirNext-Medium.woff") format("woff"), url("../fonts/AvenirNext-Medium/AvenirNext-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvenirNext-MediumItalic";
  src: url("../fonts/AvenirNext-MediumItalic/AvenirNext-MediumItalic.eot");
  src: url("../fonts/AvenirNext-MediumItalic/AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-MediumItalic/AvenirNext-MediumItalic.woff") format("woff"), url("../fonts/AvenirNext-MediumItalic/AvenirNext-MediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("../fonts/AvenirNext-Regular/AvenirNext-Regular.eot");
  src: url("../fonts/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Regular/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular/AvenirNext-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvenirNext-UltraLight";
  src: url("../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.eot");
  src: url("../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.woff") format("woff"), url("../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
