.addfilter-color{
    border: 3px solid #f93905 !important;
}
.loader {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    z-index: 1000;
}
.loader img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.hidden {
    display: none !important;
}

.alert-error-sms {

    font-size: 14px;
    color: #FF3000;
    margin: 10px;

}
.jq-selectbox__dropdown{
    top:50px !important;
    bottom: auto !important;
}
#map {
    height: 300px;
    width: 100%;
}
#map2 {
    height: 180px;
    width: 357px;
}
#floating-panel {
    position: absolute!important;
    /*top: 10px!important;*/
    left: 42%!important;
    z-index: 10!important;
    /*background-color: #fff!important;*/
    padding: 3px!important;
    /*border: 1px solid #999!important;*/
    text-align: center!important;
    /*font-family: 'Roboto','sans-serif'!important;*/
    /*line-height: 30px!important;*/
    padding-left: 10px!important;
}
.product_zapchast
{
    text-align: left!important;
}
.product_zapchast ul li {
    min-width: 294px!important;
}
.product_zapchast ul li a{
    min-height: 334px!important;
}
.product_zapchast ul li a img{
    max-height: 165px!important;
}