/*
font-family: "OpenSansLight";
font-family: "OpenSansBold";
font-family: "OpenSansItalic";
font-family: "OpenSansLightItalic";
font-family: "OpenSansRegular";
font-family: "OpenSansSemiBold";
*/
@media screen and (max-width: 1780px) {
  .postContainerColl {
    overflow: hidden; } }

@media screen and (max-width: 1400px) {
  #mainBlockItems ul li {
    width: 25%; }
  #mainBlockItems ul li:last-child {
    display: none; }
  .productsList ul li a .itemTitle {
    font-size: 14px;
    height: 40px; }
  .productsList ul li.itemDuble a .itemData .itemTitle {
    font-size: 20px; }
  .itemLargeTitle {
    font-size: 20px;
    margin: 0 0 10px; }
  .pageContent .productsList {
    margin: -10px 0 0; }
    .pageContent .productsList ul {
      margin: 0 -10px; }
      .pageContent .productsList ul li {
        padding: 10px; }
  .pageSlideBar {
    margin: 0 2% 0 0; } }

@media screen and (max-width: 1200px) {
  .headerMenu ul li {
    font-size: 16px;
    padding: 0 5px; }
  .headerButtons a:first-child {
    margin: 0; }
  #mainBlockNav {
    width: 250px;
    font-size: 16px; }
    #mainBlockNav nav {
      padding: 8% 0 8% 16px; }
      #mainBlockNav nav ul li a {
        padding: 5px 26px 5px 10px; }
  .navItemContent {
    padding-left: 250px; }
  .navListCol {
    padding: 25px 2%; }
  .navListColTitle {
    font-size: 18px; }
  .navListCol nav ul li {
    font-size: 14px; }
  .navTitle {
    font-size: 26px; }
  .section {
    padding: 26px 0; }
  .productsList ul {
    margin: 0 -5px !important; }
    .productsList ul li {
      padding: 5px !important; }
  .mainFooterCol {
    padding: 10px 3%; }
  #searchField2,
  #searchField {
    font-size: 26px; }
  .searchModalClose {
    width: 60px;
    height: 60px; }
  .sliderPTitle {
    font-size: 40px; }
  .sliderPPrice {
    font-size: 24px; }
  .fColTitle {
    font-size: 20px; }
  .fNav ul li {
    font-size: 16px; }
  .fContactsBlock {
    padding: 0; }
  .telBlock {
    font-size: 18px; }
    .telBlock span {
      font-size: 20px; }
  .fContactsBlock p {
    font-size: 16px; }
  .productPagePadding {
    padding-left: 0; }
  .pTabBody {
    padding: 30px; }
  .pageContent .productsList {
    margin: -5px 0 0; }
    .pageContent .productsList ul li {
      width: 33.333333%; } }

@media screen and (max-width: 1200px) {
  .logo {
    max-width: 160px; }
  .headerMenu ul li {
    padding: 0; }
  .headerButtons {
    padding: 23px 0 0; }
  .headerButtons a {
    width: 26px;
    header: 26px; }
  .sn a {
    padding: 0;
    width: 22px;
    height: 22px; }
  .headerMenu ul li a {
    padding: 6px 14px; }
  #mainBlock {
    padding: 120px 0 0; }
  .contactBox {
    width: 33.3333333%; }
  .productData {
    max-width: 48%; }
    .productData h1 {
      font-size: 42px; }
  .productImages {
    width: 50%; }
  .productParamsCont {
    max-width: 70%; }
  .categoryFirstItem h1 {
    font-size: 32px; }
  .dSlider .owl-nav {
    right: 2px; } }

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden; }
  #mainBlockNav,
  .headerMenu {
    display: none; }
  .headerButtons {
    margin: 0 0 0 5%; }
  .displayNone1000 {
    display: none; }
  .productsList ul li {
    width: 25%; }
    .productsList ul li.itemDuble {
      width: 50%; }
  .minFooter {
    padding: 20px 0; }
  .section {
    padding: 15px 0; }
  .sectionTitle {
    font-size: 24px; }
  .sectionSort ul li a {
    font-size: 14px; }
  .sectionHead {
    margin: 0 0 20px; }
  .sliderPTitle {
    margin-left: 5%; }
  .sliderPPrice {
    margin-right: 10%; }
  .itemLargeTitle {
    font-size: 18px; }
  .mediaImg a:after {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px; }
  #mobileNavBar {
    display: block;
    left: -300px; }
  .openMenu {
    overflow: hidden; }
    .openMenu #mobileNavBar {
      left: 0; }
  #mainSlider .owl-nav {
    right: 15px; }
  #mainSlider .owl-nav [class*=owl-] {
    width: 30px;
    height: 30px;
    margin: 0 5px; }
    #mainSlider .owl-nav [class*=owl-] i {
      width: 21px;
      height: 13px; }
  .sliderPTitle {
    max-width: 50%; }
  .btnNav {
    display: block; }
  .postPageRow .postSidebar {
    float: none;
    margin: 0 0 30px; }
    .postPageRow .postSidebar .sidebarList {
      max-width: 100%; }
      .postPageRow .postSidebar .sidebarList li a {
        font-size: 16px; }
  .pageSlideBar {
    width: 260px; }
  .filterCont .row5 {
    margin: 0; }
    .filterCont .row5 .colp5-6 {
      width: 100%;
      display: block;
      float: none; }
  .categoryFirstItem .productData {
    width: 100%;
    max-width: 100%;
    float: none; }
  .categoryFirstItem .cfProductImage {
    display: none; }
  .photoAlbum ul li {
    width: 25%; }
  .addPList ul li a {
    min-height: 100px; }
  .categoryFirstItem {
    min-height: 547px; } }

@media screen and (max-width: 900px) {
  .header {
    padding: 10px 0; }
  #mainSlider {
    padding: 0; }
  .sliderPTitle {
    font-size: 32px; }
  .sliderPPrice {
    font-size: 20px;
    margin-top: 0px; }
  .sliderPImg {
    padding: 50px 0 0; }
  #mainBlockItems ul li {
    width: 33.333333%; }
    #mainBlockItems ul li:nth-child(4) {
      display: none; }
  .mediaData {
    padding: 15px; }
  .itemLargeTitle {
    font-size: 16px; }
  .itemDesc {
    font-size: 14px; }
  .contactBox {
    width: 50%; }
  .productTabNav nav ul li a {
    min-width: 0px; }
  .productData,
  .productImages {
    width: 100%;
    float: none; }
  .productData {
    max-width: 100%; }
    .productData h1 {
      font-size: 26px; }
  .productImages {
    max-width: 100%;
    margin: 0 auto 30px; }
    .productImages .bigImage {
      max-width: 400px; }
    .productImages .minImages {
      margin-top: -20px; }
  .productParamsCont {
    max-width: 100%; }
  .pageContent .productsList ul li {
    width: 50%; } }

@media screen and (max-width: 800px) {
  .fancybox-thumbs {
    width: 80px;
    display: none !important; }
  .fancybox-toolbar,
  .fancybox-caption-wrap {
    display: none; }
  .fancybox-image-wrap {
    margin: 0 !important; }
  .fancybox-show-toolbar .fancybox-caption-wrap,
  .fancybox-show-toolbar .fancybox-toolbar {
    display: block !important; }
  .fancybox-caption-wrap {
    height: 50px;
    line-height: 50px; }
  .fancybox-toolbar .fancybox-button--close {
    width: 50px;
    height: 50px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 0px; }
  .fancybox-navigation {
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none; }
    .fancybox-navigation button {
      margin: 0 !important;
      background: none !important;
      width: 70px;
      height: 70px; }
      .fancybox-navigation button:before {
        display: block;
        width: 40px;
        height: 40px;
        left: 50%;
        right: auto;
        top: 50%;
        bottom: auto;
        margin: -20px 0 0 -20px; }
      .fancybox-navigation button svg {
        display: block; }
    .fancybox-navigation .fancybox-button--arrow_right {
      float: right; }
  .cartTable table tr td {
    padding: 10px 5px !important; } }

@media screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 320px;
    overflow-x: hidden; }
  .mainContainer {
    width: 100%; }
  .row20 {
    margin: 0; }
  .colp20-12,
  .colp20-11,
  .colp20-10,
  .colp20-9,
  .colp20-8,
  .colp20-7,
  .colp20-6,
  .colp20-5,
  .colp20-4,
  .colp20-3,
  .colp20-2,
  .colp20-1 {
    display: block;
    margin: 0 0 20px;
    float: none;
    width: 100%;
    padding: 0; }
  .mainFooter {
    padding: 10px 0; }
  .mainFooterRow,
  .mainFooterTable {
    display: block; }
  .mainFooterCol {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 20px 0; }
    .mainFooterCol:after {
      width: 100%;
      height: 2px;
      left: 0;
      top: 1px; }
  .source {
    font-size: 16px; }
  .textC {
    font-size: 16px; }
  .sectionSort ul {
    display: none; }
  .mediaList ul {
    margin: 0 -5px; }
  .mediaList ul li {
    padding: 0 5px; }
  .searchModalForm {
    padding: 0; }
  #searchField2,
  #searchField {
    font-size: 18px;
    height: 46px; }
  #content {
    padding: 0 0 20px; }
  .productParamsCont ul li {
    width: 33.33333333%; }
  .postContent {
    font-size: 14px; }
    .postContent h1 {
      font-size: 24px; }
    .postContent h2 {
      font-size: 22px; }
    .postContent h3 {
      font-size: 20px; }
    .postContent h4 {
      font-size: 18px; }
    .postContent h5 {
      font-size: 16px; }
    .postContent h6 {
      font-size: 14px; }
  .pTabBody {
    padding: 15px; }
  .productTabBody,
  .productTabNav {
    margin: 0 -15px; }
  .title-1 {
    font-size: 24px; }
  #filter {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 250px;
    z-index: 9999;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    transition: left 0.2s;
    -o-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    -ms-transition: left 0.2s;
    overflow-y: auto; }
  .openFilter #filter {
    left: 0px; }
  #filterBtn {
    display: block;
    float: left; }
  .rowHead .sortMoreBtn {
    display: block; }
  .photoAlbum ul {
    margin: 0 -5px; }
    .photoAlbum ul li {
      padding: 5px;
      width: 33.33333333%; }
  .stepsCheckout li {
    padding: 10px; }
  .dMethodBox label {
    padding: 30px 30px 30px 55px; }
  .page404H1 {
    font-size: 32px; }
  .iFrameBlock {
    margin-bottom: -20px;
    height: 200px;
    overflow: hidden; }
    .iFrameBlock img {
      height: 100%;
      max-width: 1000px;
      width: auto; }
  .sortMore {
    display: block; }
  #searchField {
    padding-right: 60px; }
  .btnSearchSubmit {
    display: block; }
  .reviewsList {
    margin-top: -15px; } }

@media screen and (max-width: 660px) {
  #mainBlockItems {
    padding: 10px 0;
    display: block; }
    #mainBlockItems ul {
      display: block; }
      #mainBlockItems ul li {
        display: block !important;
        width: 100%;
        padding: 20px 0; }
        #mainBlockItems ul li:after {
          width: 100%;
          height: 2px;
          top: -1px;
          left: 0;
          bottom: auto;
          margin: 0; }
  .navTitle {
    max-width: 100%; }
  .productsList ul li {
    width: 33.333333333%; }
    .productsList ul li.itemDuble {
      width: 33.333333333%; }
      .productsList ul li.itemDuble a {
        position: relative;
        padding: 10%; }
        .productsList ul li.itemDuble a .itemDesc {
          display: none; }
        .productsList ul li.itemDuble a .itemData {
          width: 100%;
          overflow: visible !important; }
          .productsList ul li.itemDuble a .itemData .itemOldPrice,
          .productsList ul li.itemDuble a .itemData .itemPrice,
          .productsList ul li.itemDuble a .itemData .itemTitle {
            font-size: 14px; }
        .productsList ul li.itemDuble a .itemImage {
          height: 100px;
          line-height: 100px;
          position: absolute;
          bottom: 10%;
          left: 10%;
          right: 10%;
          width: auto;
          margin: 0; }
    .productsList ul li a .itemPrice {
      font-size: 14px; }
    .productsList ul li a .itemOldPrice {
      font-size: 12px; }
  .mediaList ul li {
    display: block;
    width: 100%;
    margin: 0 0 20px; }
  .mobileNavBarWrapInner .sn {
    display: block; }
  .header .sn {
    display: none; }
  .sliderPTitle {
    font-size: 24px; }
  .sliderPPrice {
    font-size: 18px; }
  #mainBlock:before {
    width: 90%;
    margin-left: -45%;
    padding-top: 90%;
    top: -20%; }
  .mainSliderItem {
    padding: 0 0 100px; }
  #mainSlider .owl-dots {
    bottom: 14px; }
  .sliderLink {
    bottom: 32px; }
  .sliderPImg {
    max-width: 100%; }
  .table1 table tr td {
    font-size: 14px;
    width: 50%;
    padding: 10px; }
  .table1Title {
    padding: 10px 15px;
    font-size: 15px; }
  .review {
    padding: 15px 0; }
  .categoryFirstItem {
    display: none; }
  #catListBar {
    width: 100%;
    float: none;
    margin: 0; }
  .productTabNav nav ul li {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #f3f3f3; } }

@media screen and (max-width: 600px) {
  .productsList ul li {
    width: 50%; }
    .productsList ul li.itemDuble {
      width: 50%; }
  .contactBox {
    width: 100%; }
  .searchForm {
    width: 100%; }
  .cartTable table tbody tr td,
  .cartTable table tbody tr,
  .cartTable table tbody,
  .cartTable table {
    display: block; }
  .cartTable table thead {
    display: none; }
  .cartTable table tbody tr {
    position: relative; }
  .cartTable table tbody tr td {
    padding: 0; }
  .cartTable .cartPImage {
    float: left;
    margin: 0 20px 20px 0; }
  .cartTable .cartPData {
    overflow: hidden;
    margin: 0 0 20px; }
  .cartTable .closeBtn {
    position: absolute;
    top: 15px;
    right: 10px;
    margin: 0; }
  .stepsCheckout li {
    width: 100%; }
  .addressBox .addressColl {
    display: block;
    width: 100%; }
  .addressBox .mapsColl {
    width: 100%;
    position: relative;
    height: 200px; }
  .dMethodBox {
    width: 100%;
    display: block; }
    .dMethodBox label {
      padding: 30px 30px 30px 55px; } }

@media screen and (max-width: 500px) {
  .productsList ul li {
    width: 100%; }
    .productsList ul li.itemDuble {
      width: 100%; }
  .header .headerButtons {
    display: none; }
  .mobileNavBarWrapInner .headerButtons {
    display: block; }
  .sliderPTitle {
    font-size: 20px; }
  #mainBlock {
    padding: 100px 0 0; }
  #mainSlider .owl-nav .owl-prev {
    right: -40px; }
  .pBtn1 {
    width: 100%;
    margin: 15px 0; }
  .productParamsCont ul li {
    width: 50%; }
    .productParamsCont ul li .paramTitle {
      font-size: 14px; }
    .productParamsCont ul li .paramValue {
      font-size: 16px; }
  .photoAlbum ul li {
    width: 50%; }
  .submitCheckout .btn2,
  .submitCheckout .btn1 {
    display: block;
    width: 100%;
    margin: 0 0 20px; }
  .submitCheckout .btnBack {
    display: block;
    width: 100%; } }

@media screen and (max-width: 480px) {
  .pageContent .productsList ul li {
    width: 100%; }
    .pageContent .productsList ul li a .itemImage {
      height: auto; }
  .MagicScroll {
    height: 210px; } }
