/*
font-family: "AvenirNext-Bold";
font-family: "AvenirNext-BoldItalic";
font-family: "AvenirNext-Heavy";
font-family: "AvenirNext-HeavyItalic";
font-family: "AvenirNext-Italic";
font-family: "AvenirNext-Medium";
font-family: "AvenirNext-MediumItalic";
font-family: "AvenirNext-Regular";
font-family: "AvenirNext-UltraLight";
*/
.mainContainer {
  max-width: 1762px; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-family: "AvenirNext-Regular";
  font-size: 14px;
  background: #F3F3F3;
  min-width: 320px;
  color: #000;
  height: 100%; }

a {
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  color: #000;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

strong,
b {
  font-weight: normal;
  font-family: "AvenirNext-Bold"; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.2;
  font-family: "AvenirNext-Medium"; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 26px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 22px; }

h5, .h5 {
  font-size: 20px; }

h6, .h6 {
  font-size: 18px; }

p {
  margin: 0 0 10px 0;
  line-height: 1.4; }

.btn1 {
  background: #5bc900;
  color: #fff;
  box-shadow: 0 20px 40px -15px rgba(96, 199, 30, 0.65);
  -o-box-shadow: 0 20px 40px -15px rgba(96, 199, 30, 0.65);
  -moz-box-shadow: 0 20px 40px -15px rgba(96, 199, 30, 0.65);
  -webkit-box-shadow: 0 20px 40px -15px rgba(96, 199, 30, 0.65);
  -ms-box-shadow: 0 20px 40px -15px rgba(96, 199, 30, 0.65); }

.btn2 {
  background: #ff2336;
  color: #fff; }

.btn0 {
  border: none;
  text-align: center;
  padding: 10px 20px;
  min-width: 190px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  font-family: "AvenirNext-Medium";
  font-size: 16px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px; }
  .btn0:hover {
    text-decoration: none; }

.btnNav {
  float: right;
  width: 50px;
  height: 50px;
  border: none;
  display: none;
  overflow: hidden;
  background: none;
  position: relative;
  margin: 16px 0 0 30px; }
  .btnNav:after, .btnNav:before,
  .btnNav span {
    width: 26px;
    height: 3px;
    position: absolute;
    display: block;
    content: "";
    background: #717171;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    left: 50%;
    margin-left: -13px;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s; }
  .btnNav:before {
    top: 14px; }
  .btnNav:after {
    bottom: 15px; }
  .btnNav span {
    top: 50%;
    margin-top: -2px; }
  .btnNav.active:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    bottom: 23.5px; }
  .btnNav.active:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    top: 23.5px; }
  .btnNav.active span {
    left: 150%; }

.activeItem a {
  background: #60c71e !important;
  color: #fff !important;
  box-shadow: 0 6px 30px -5px rgba(96, 199, 30, 0.65);
  -o-box-shadow: 0 6px 30px -5px rgba(96, 199, 30, 0.65);
  -moz-box-shadow: 0 6px 30px -5px rgba(96, 199, 30, 0.65);
  -webkit-box-shadow: 0 6px 30px -5px rgba(96, 199, 30, 0.65);
  -ms-box-shadow: 0 6px 30px -5px rgba(96, 199, 30, 0.65); }

#mainWrap {
  min-height: 100%;
  position: relative; }

#header {
  width: 100%;
  position: relative;
  z-index: 9999; }

#header.mainPageHeader {
  position: absolute;
  top: 0;
  left: 0; }

.header {
  padding: 2.4% 0;
  text-align: center; }
  .header:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }

.logo {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left; }

.headerMenu {
  padding: 24px 0 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
  .headerMenu ul {
    padding: 0;
    margin: 0; }
    .headerMenu ul li {
      list-style: none; }
    .headerMenu ul li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 20px;
      padding: 0 10px; }
      .headerMenu ul li a {
        display: block;
        text-decoration: none;
        padding: 6px 20px;
        border-radius: 20px;
        -o-border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -ms-border-radius: 20px; }
        .headerMenu ul li a:hover {
          text-decoration: none; }
        .headerMenu ul li a:hover {
          color: #60c71e; }
      .headerMenu ul li.active a {
        background: #60c71e;
        color: #fff; }

.headerButtons,
.sn {
  float: right; }
  .headerButtons a,
  .sn a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .headerButtons a:hover,
    .sn a:hover {
      text-decoration: none; }

.sn {
  padding: 30px 0 0; }
  .sn a {
    height: 26px;
    line-height: 26px;
    padding: 0 4px;
    margin: 0 4px; }

.headerButtons {
  padding: 28px 0 0;
  margin: 0 0 0 3%;
  white-space: nowrap; }
  .headerButtons a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 0 0 0 20px;
    position: relative; }

#mainBlock {
  padding: 180px 0 0;
  position: relative;
  overflow: hidden; }
  #mainBlock:before {
    width: 80%;
    background: #e0dfdf;
    opacity: 0.61;
    position: absolute;
    top: -40%;
    left: 50%;
    margin: 0 0 0 -40%;
    content: "";
    padding: 80% 0 0;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    z-index: -1; }

#mainSlider {
  padding: 5% 0 0; }

.mainSliderItem {
  text-align: center;
  padding: 0 0 140px; }
  .mainSliderItem:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }
  .mainSliderItem a {
    display: block; }

.sliderPTitle {
  float: left;
  font-size: 60px;
  color: #646464;
  text-transform: uppercase;
  font-family: "AvenirNext-Medium";
  margin: 0 0 0 10%;
  position: absolute;
  max-width: 60%;
  text-align: left; }

.sliderPPrice {
  font-size: 30px;
  font-family: "AvenirNext-Medium";
  margin: 10px 20% 0 0; }

.sliderPPrice {
  float: right; }

.sliderPImg {
  max-width: 70%;
  margin: 0 auto;
  padding: 10% 0 0; }

#mainSlider {
  display: block; }
  #mainSlider .owl-nav {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 6%;
    margin-top: -80px; }
    #mainSlider .owl-nav [class*=owl-] {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin: 10px;
      padding: 0;
      background: none; }
      #mainSlider .owl-nav [class*=owl-] i {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 24px;
        height: 15px;
        vertical-align: baseline; }
    #mainSlider .owl-nav .owl-prev {
      position: relative;
      bottom: -40px; }
  #mainSlider .owl-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%; }
    #mainSlider .owl-dots .owl-dot {
      padding: 6px;
      margin: 0; }
      #mainSlider .owl-dots .owl-dot span {
        width: 40px;
        height: 4px;
        background: #c8c6c4;
        display: block;
        margin: 0;
        padding: 0;
        border-radius: 0px;
        -o-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px; }
      #mainSlider .owl-dots .owl-dot.active span {
        height: 7px;
        background: #1d1d1d; }

.sliderArrorBottom {
  background-image: url(../images/icons/arrow-bottom.svg); }

.sliderArrorTop {
  background-image: url(../images/icons/arrow-top.svg); }

.sliderLink {
  display: block;
  width: 130px;
  padding: 10px 0 20px;
  position: absolute;
  left: 50%;
  margin-left: -65px;
  bottom: 90px;
  z-index: 9;
  text-align: center;
  text-decoration: none; }
  .sliderLink:hover {
    text-decoration: none; }
  .sliderLink:before {
    height: 26px;
    background: url(../images/icons/cursor.svg) no-repeat center;
    content: "";
    display: block;
    margin: 0 0 14px; }

.padding0 {
  padding: 0; }

#mainBlockNav {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  background: #F2F2F2;
  font-size: 20px;
  z-index: 999;
  width: 318px;
  height: 500px;
  overflow-y: auto; }
  #mainBlockNav nav {
    padding: 12% 0 12% 5px; }
    #mainBlockNav nav ul li {
      margin: 0 0 10px; }
      #mainBlockNav nav ul li:last-child {
        margin: 0; }
      #mainBlockNav nav ul li a {
        display: block;
        text-decoration: none;
        transition: none;
        -o-transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -ms-transition: none;
        padding: 5px 40px 5px 10px; }
        #mainBlockNav nav ul li a:hover {
          text-decoration: none; }
        #mainBlockNav nav ul li a:hover {
          color: #60c71e; }

#mainBlockItems {
  background: #e5e5e5;
  padding: 30px 0;
  display: table;
  width: 100%;
  margin: 0 0 40px; }
  #mainBlockItems ul {
    font-size: 0;
    display: table-row; }
    #mainBlockItems ul li {
      display: table-cell;
      font-size: 14px;
      width: 20%;
      vertical-align: top;
      padding: 0 20px;
      position: relative; }
      #mainBlockItems ul li:after {
        width: 2px;
        height: 106px;
        background: #d0cec9;
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: -1px;
        margin-top: -53px; }
      #mainBlockItems ul li:first-child {
        padding-left: 0; }
        #mainBlockItems ul li:first-child:after {
          display: none; }
      #mainBlockItems ul li a {
        text-decoration: none;
        height: 100%;
        display: block; }
        #mainBlockItems ul li a:hover {
          text-decoration: none; }
        #mainBlockItems ul li a:after {
          width: 0;
          height: 0;
          clear: both;
          content: '';
          display: block; }
      #mainBlockItems ul li .itemImage {
        float: left;
        width: 40%;
        padding: 0 20px 0 0;
        line-height: 106px; }
      #mainBlockItems ul li .itemData {
        overflow: hidden; }

.itemImage {
  text-align: center; }
  .itemImage img {
    max-width: 100%;
    max-height: 100%; }

.itemTitle {
  font-size: 15px; }

.itemStars {
  margin: 0 0 5px; }

.itemPrice {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: baseline; }

.itemOldPrice {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: baseline;
  font-size: 12px;
  color: #646464;
  text-decoration: line-through; }

.navTitle {
  font-size: 33px;
  color: #646464;
  line-height: 1.5;
  max-width: 70%; }

.section {
  padding: 40px 0; }

.sectionHead {
  margin: 0 0 30px; }
  .sectionHead:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }

.sectionTitle {
  font-size: 30px;
  color: #646464;
  font-family: "AvenirNext-Regular";
  overflow: hidden;
  margin: 0 20px 0 0; }

.sectionSort {
  float: right;
  margin: 0 0 0 20px; }
  .sectionSort ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 0;
    margin: 0; }
    .sectionSort ul li {
      list-style: none; }
    .sectionSort ul li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .sectionSort ul li a {
        padding: 6px 15px;
        display: block;
        border-radius: 20px;
        -o-border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -ms-border-radius: 20px;
        text-decoration: none;
        font-size: 16px; }
        .sectionSort ul li a:hover {
          text-decoration: none; }
        .sectionSort ul li a:hover span {
          border-bottom: 1px dotted; }
      .sectionSort ul li.activeItem a span {
        border: none; }

.sortMore {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  display: none; }
  .sortMore .sortMoreBtn {
    display: block;
    padding: 5px; }
  .sortMore ul {
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    padding: 0;
    margin: 0;
    padding: 5px 0;
    width: 150px;
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 99; }
    .sortMore ul li {
      list-style: none; }
    .sortMore ul li {
      display: block; }
      .sortMore ul li a {
        border-radius: 0px;
        -o-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        display: block;
        padding: 5px 10px;
        text-decoration: none; }
        .sortMore ul li a:hover {
          text-decoration: none; }

.productsList ul {
  padding: 0;
  margin: 0;
  font-size: 0;
  margin: 0 -10px; }
  .productsList ul li {
    list-style: none; }
  .productsList ul li {
    padding: 10px;
    width: 16.66666666666667%;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top; }
    .productsList ul li a {
      display: block;
      background: #f9f9f9;
      padding: 10%;
      text-decoration: none;
      height: 240px; }
      .productsList ul li a:hover {
        text-decoration: none; }
      .productsList ul li a .itemImage {
        line-height: 100px;
        height: 100px; }
      .productsList ul li a .itemTitle {
        font-size: 18px;
        height: 60px;
        overflow: hidden; }
      .productsList ul li a .itemPrice {
        font-size: 20px; }
      .productsList ul li a .itemOldPrice {
        font-size: 14px; }
    .productsList ul li.itemDuble {
      width: 33.33333333333%; }
      .productsList ul li.itemDuble a {
        padding-left: 30px;
        padding-right: 30px; }
        .productsList ul li.itemDuble a:after {
          width: 0;
          height: 0;
          clear: both;
          content: '';
          display: block; }
        .productsList ul li.itemDuble a .itemImage {
          float: right;
          height: 160px;
          margin: 0 0 0 20px;
          line-height: 160px;
          width: 35%; }
        .productsList ul li.itemDuble a .itemData {
          overflow: auto;
          height: auto; }
          .productsList ul li.itemDuble a .itemData .itemTitle {
            font-size: 24px;
            margin: 0 0 10px;
            overflow: visible;
            height: auto; }
          .productsList ul li.itemDuble a .itemData .itemPrice {
            color: #fa872b;
            font-size: 24px;
            font-family: "AvenirNext-Medium"; }

.itemDesc {
  font-size: 15px;
  margin: 0 0 10px; }

.mediaList {
  overflow: hidden; }
  .mediaList ul {
    padding: 0;
    margin: 0;
    font-size: 0px;
    margin: 0 -15px; }
    .mediaList ul li {
      list-style: none; }
    .mediaList ul li {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      vertical-align: top;
      width: 33.3333333333%;
      padding: 15px; }

.imgBox {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: block; }

.mediaImg a {
  display: block;
  position: relative; }
  .mediaImg a:after {
    width: 100px;
    height: 100px;
    background: url(../images/icons/play.svg) no-repeat center;
    background-size: 100%;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px; }

.mediaImg .imgBox {
  padding: 58% 0 0; }

.mediaData {
  background: #fff;
  padding: 20px 40px;
  text-align: center; }
  .mediaData .itemDesc {
    height: 42px;
    overflow: hidden; }

.itemLargeTitle {
  font-size: 24px;
  margin: 0 0 14px; }

#content {
  padding: 0 0 50px; }

.mainFooter {
  background: #dfdfdf;
  padding: 50px 0; }

.mainFooterTable {
  display: table;
  width: 100%; }

.mainFooterRow {
  display: table-row; }

.mainFooterCol {
  display: table-cell;
  padding: 10px 5%;
  position: relative;
  vertical-align: top;
  min-width: 230px; }
  .mainFooterCol:last-child {
    padding-right: 0; }
  .mainFooterCol:first-child {
    padding-left: 0; }
  .mainFooterCol:after {
    width: 2px;
    height: 100%;
    background: #d0cec9;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -1px; }
  .mainFooterCol:first-child:after {
    display: none; }

.mainFooterColFirst {
  width: 55%; }

.fLogo {
  margin: 0 0 30px; }

.fText {
  font-size: 15px;
  color: #646464; }

.fColTitle {
  font-size: 22px;
  margin: 0 0 20px; }

.fNav ul li {
  font-size: 18px;
  margin: 0 0 15px; }
  .fNav ul li a {
    display: block;
    text-decoration: none; }
    .fNav ul li a:hover {
      text-decoration: none; }

.fContactsBlock {
  padding: 20px 0 0; }
  .fContactsBlock p {
    font-size: 18px;
    margin: 0 0 8px; }
  .fContactsBlock .sn {
    float: none;
    padding: 20px 0 0; }

.telBlock {
  font-size: 22px;
  margin: 0 0 15px; }
  .telBlock a {
    display: block;
    text-decoration: none; }
    .telBlock a:hover {
      text-decoration: none; }
  .telBlock span {
    font-size: 24px;
    color: #fa872b; }

.minFooter {
  background: #eeedeb;
  padding: 30px 0; }

.footer:after {
  width: 0;
  height: 0;
  clear: both;
  content: '';
  display: block; }

.textC {
  float: left;
  font-size: 18px;
  color: #646464; }

.source {
  float: right;
  font-size: 18px; }
  .source a {
    text-decoration: none; }
    .source a:hover {
      text-decoration: none; }
    .source a img {
      margin: 0 10px; }

#searchModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none; }

.searchModalMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(224, 223, 222, 0.8); }

.searchModalClose {
  position: absolute;
  top: 0;
  right: 0;
  background: #60c71e;
  width: 100px;
  height: 100px;
  border: none; }

.searchModalForm {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  padding: 0 10%; }
  .searchModalForm form {
    position: relative; }

.btnSearchSubmit {
  position: absolute;
  top: 0px;
  height: 100%;
  right: 0px;
  width: 50px;
  background: url(../images/icons/search-ico.svg) no-repeat center;
  background-size: 46%;
  border: none;
  display: none; }

#searchField2,
#searchField {
  border: none;
  background: none;
  border-bottom: 2px solid #778996;
  padding: 0 5%;
  font-size: 34px;
  height: 60px; }

.openModal {
  overflow: hidden;
  padding-right: 17px; }

.navItemContent {
  position: absolute;
  z-index: 998;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  padding-left: 318px;
  display: none;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft; }

.navListCol {
  overflow-y: auto;
  font-size: 0;
  padding: 30px 4%;
  height: 100%;
  position: relative; }
  .navListCol nav {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 33.333333%;
    padding: 0 4%; }
    .navListCol nav ul li {
      margin: 0 0 6%;
      font-size: 16px; }
      .navListCol nav ul li a {
        display: block;
        text-decoration: none; }
        .navListCol nav ul li a:hover {
          text-decoration: none; }
        .navListCol nav ul li a:hover {
          color: #60c71e; }
  .navListCol .link {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: red; }

.navPCol {
  width: 36%;
  height: 100%;
  float: right; }
  .navPCol a {
    display: block;
    height: 100%;
    position: relative; }
    .navPCol a .imgBox {
      width: 100%;
      height: 100%; }

.navPColData {
  position: absolute;
  background: #3f3f3f;
  bottom: 0;
  left: 0;
  width: 234px;
  padding: 28px;
  color: #fff; }

.navListColTitle {
  font-size: 24px;
  font-family: "AvenirNext-Medium";
  margin: 0 0 8%; }

#maska {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(224, 223, 222, 0.7);
  z-index: 996;
  display: none; }

#mobileNavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: #F2F2F2;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: none;
  transition: left 0.2s;
  -o-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  -ms-transition: left 0.2s; }

.mobileNavBarWrapInner {
  padding: 10px 0 40px; }
  .mobileNavBarWrapInner .headerMenu {
    padding: 0 20px 10px;
    display: block;
    border-bottom: 1px solid #e0dfdf; }
    .mobileNavBarWrapInner .headerMenu ul li {
      display: block; }
  .mobileNavBarWrapInner .sn {
    float: left;
    padding: 20px 0 24px 20px;
    display: none; }
  .mobileNavBarWrapInner .headerButtons {
    display: none;
    padding: 14px 20px 20px 0;
    margin: 0; }

.mainBlockBavBar {
  padding: 20px 0 20px 20px; }
  .mainBlockBavBar ul li {
    margin: 2px 0; }
    .mainBlockBavBar ul li a {
      display: block;
      text-decoration: none;
      padding: 5px 20px 5px 14px; }
      .mainBlockBavBar ul li a:hover {
        text-decoration: none; }

.contactsPage {
  max-width: 1260px;
  padding: 5% 0;
  margin: 0 auto;
  overflow: hidden; }

.contactBoxes {
  font-size: 0px;
  margin: 0 -20px; }

.contactBox {
  font-size: 16px;
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 20px 20px 20px 75px; }
  .contactBox:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }
  .contactBox p {
    margin: 0 0 2px; }
    .contactBox p a {
      display: block;
      color: #646464;
      text-decoration: none; }
      .contactBox p a:hover {
        text-decoration: none; }
      .contactBox p a i {
        float: left;
        margin: 0 5px 0 0; }

.cAva {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-left: -55px; }

.cName {
  color: #575757;
  font-family: "AvenirNext-Medium";
  font-size: 18px;
  margin: 0 0 2px; }

.cPosition {
  font-size: 16px;
  color: #646464;
  margin: 0 0 8px; }

.mapsBlock {
  font-size: 18px;
  color: #646464; }

.iFrameBlock {
  width: 100%;
  margin: 18px 0 -50px; }
  .iFrameBlock img {
    width: 100%; }

.count {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  background: #ff1744;
  border-radius: 9px;
  -o-border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -ms-border-radius: 9px;
  padding: 0 4px;
  text-align: center;
  min-width: 16px;
  position: absolute;
  bottom: -6px;
  right: -6px; }

.searchPage {
  padding: 5% 0 0; }

.searchForm {
  width: 80%;
  margin: 0 auto 60px;
  position: relative; }

.clearField {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -12.5px; }

.resultSearch {
  padding: 0 0 5% 0; }
  .resultSearch ul li {
    width: 20%; }
    .resultSearch ul li a {
      height: auto; }

.mz-zoom-window,
.mz-figure.mz-active {
  background: none !important; }

.productPage {
  padding: 8% 0 0 0; }
  .productPage:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }

.productPagePadding {
  padding-left: 100px; }

.productImages {
  float: right;
  width: 40%;
  padding: 0 100px 0 0;
  margin-bottom: -70px; }

.minImages {
  float: right;
  margin: 0 -100px 0 0; }
  .minImages ul {
    padding: 0;
    margin: 0; }
    .minImages ul li {
      list-style: none; }
    .minImages ul li {
      margin: 0 0 10px; }
      .minImages ul li a {
        display: block;
        width: 70px;
        height: 70px;
        background: #f6f7f6;
        text-align: center;
        line-height: 70px; }
        .minImages ul li a img {
          max-width: 90%;
          max-height: 90%; }
        .minImages ul li a.mz-thumb-selected {
          background: #fff; }

.productData {
  max-width: 460px;
  margin: 0 0 60px; }
  .productData h1 {
    font-size: 66px;
    font-family: "AvenirNext-Regular"; }
  .productData .itemStars {
    margin: 0 0 20px; }
  .productData .itemDesc {
    margin: 0 0 30px;
    font-size: 18px;
    color: #646464; }
  .productData .itemPrices {
    margin: 0 0 50px; }
  .productData .itemPrice {
    font-size: 39px;
    color: #fa872b; }
  .productData .itemOldPrice {
    font-size: 17px;
    color: #a2a2a2; }

.productParams {
  background: #fff;
  padding: 20px 0;
  margin: 0 0 80px; }

.num {
  background: #fff;
  border: 1px solid #e4e5ec;
  box-shadow: 0 3px 0 #ebebeb;
  -o-box-shadow: 0 3px 0 #ebebeb;
  -moz-box-shadow: 0 3px 0 #ebebeb;
  -webkit-box-shadow: 0 3px 0 #ebebeb;
  -ms-box-shadow: 0 3px 0 #ebebeb;
  width: 112px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 10px 0 0; }
  .num:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }
  .num button {
    float: left;
    width: 30%;
    height: 100%;
    background: none;
    border: none;
    font-size: 16px; }
  .num input {
    width: 40%;
    float: left;
    height: 100%;
    border: none;
    background: none;
    text-align: center;
    font-size: 16px;
    font-family: "AvenirNext-Medium"; }

.pBtn1 {
  border: none;
  background: #ff0c3e;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  min-width: 190px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  font-family: "AvenirNext-Medium";
  font-size: 16px; }
  .pBtn1:hover {
    text-decoration: none; }

.productParamsCont {
  max-width: 60%; }
  .productParamsCont ul {
    padding: 0;
    margin: 0;
    font-size: 0px; }
    .productParamsCont ul li {
      list-style: none; }
    .productParamsCont ul li {
      font-size: 14px;
      width: 25%;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      vertical-align: top;
      padding: 20px 20px 20px 0px; }
      .productParamsCont ul li .link {
        margin: 20px 0 0; }

.paramTitle {
  font-size: 15px;
  color: #646464;
  margin: 0 0 5px; }

.paramValue {
  font-size: 18px; }

.link {
  font-size: 15px;
  color: #2aa1ef;
  text-decoration: underline;
  display: block; }
  .link:hover {
    text-decoration: none; }

.productTabNav nav ul {
  font-size: 0px; }
  .productTabNav nav ul li {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-right: 1px solid #f3f3f3; }
    .productTabNav nav ul li a {
      display: block;
      text-decoration: none;
      min-width: 190px;
      text-align: center;
      padding: 10px 20px;
      background: #edebe7; }
      .productTabNav nav ul li a:hover {
        text-decoration: none; }
      .productTabNav nav ul li a:hover {
        color: #60c71e; }

.productTabBody {
  background: #fff;
  margin: 0 0 50px; }

.pTabBody {
  padding: 5% 5% 5% 0;
  display: none; }

.pTabBody1 {
  display: block; }

.postContent {
  font-size: 18px; }
  .postContent p {
    margin: 0 0 20px; }
  .postContent a {
    color: #2396cf; }

.table1 {
  border: 1px solid #979797;
  border-top: none;
  margin: 0 0 40px; }
  .table1 table tr:nth-child(2n) {
    background: #f8f7f6; }
  .table1 table tr td {
    padding: 10px 50px;
    font-size: 18px; }

.table1Title {
  padding: 18px 50px;
  background: #52cd00;
  color: #fff;
  font-family: "AvenirNext-Medium";
  font-size: 16px; }

.reviewsList {
  margin-top: -30px; }

.review {
  padding: 40px 0;
  border-bottom: 1px solid #edeef4; }

.rStars {
  margin: 0 0 18px; }

.rUserName {
  margin: 0 0 18px;
  font-size: 16px;
  color: #646464;
  font-family: "AvenirNext-Medium"; }

.rText {
  font-size: 14px;
  margin: 0 0 26px; }

.rDate {
  color: #b3b7c6; }

.paginator {
  text-align: center;
  padding: 30px 0; }
  .paginator ul {
    padding: 0;
    margin: 0; }
    .paginator ul li {
      list-style: none; }
    .paginator ul li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .paginator ul li a {
        display: block;
        min-width: 32px;
        height: 32px;
        line-height: 33px;
        text-align: center;
        font-size: 16px;
        color: #646464;
        padding: 0 10px;
        text-decoration: none;
        border-radius: 16px;
        -o-border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        -ms-border-radius: 16px; }
        .paginator ul li a:hover {
          text-decoration: none; }


.newReviewForm {
  max-width: 678px;
  margin: 0 auto;
  padding: 20px 0; }
  .newReviewForm h3 {
    font-size: 16px;
    font-family: "AvenirNext-Medium";
    margin: 0 0 26px; }

.formControl {
  margin: 0 0 30px; }
  .formControl label {
    font-size: 12px;
    font-family: "AvenirNext-Medium";
    text-transform: uppercase;
    margin: 0 0 8px;
    display: block;
    color: #d4d9dd; }
  .formControl.required label:after {
    content: '*';
    color: #ff859e; }
  .formControl.focused label {
    color: #000; }
  .formControl.focused .field textarea,
  .formControl.focused .field input {
    border-color: #60c71e; }

.field textarea,
.field input {
  border: 1px solid #dde3e8;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px; }

.field input {
  height: 50px; }

.field textarea {
  padding-top: 15px;
  padding-bottom: 15px; }

.rating {
  margin: 0 0 15px; }
  .rating label {
    font-size: 16px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .rating label:after {
      content: "*";
      color: #ff0c3e; }

.new_stars {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 0 0 20px; }
  .new_stars ul {
    padding: 0;
    margin: 0; }
    .new_stars ul li {
      list-style: none; }
    .new_stars ul li {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .new_stars ul li.star_hover svg g path, .new_stars ul li.star_on svg g path {
        fill: #fa872b; }

.formSubmit {
  padding: 15px 0 0; }

.addPList {
  margin: 0 auto;
  text-align: center; }
  .addPList ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    max-width: 1375px;
    text-align: left; }
    .addPList ul li {
      width: 25%;
      max-width: 344px; }
      .addPList ul li a {
        background: #f9f9f9;
        height: auto;
        min-height: 327px; }
        .addPList ul li a .itemData {
          margin: 0 0 25px; }
        .addPList ul li a .itemImage {
          min-height: 100px;
          line-height: 100px;
          height: auto; }

.contentPadding {
  padding: 4% 0; }

.postContainer {
  max-width: 1020px;
  margin: 0 auto; }

.title-1 {
  font-size: 30px;
  color: #646464;
  font-family: "AvenirNext-Regular";
  margin: 0 0 26px; }

.defaultSlider .title-1 {
  margin-right: 60px; }

.defaultSlider .productsList ul {
  width: auto; }
  .defaultSlider .productsList ul li {
    width: 100%; }
    .defaultSlider .productsList ul li a {
      height: auto; }
      .defaultSlider .productsList ul li a .itemImage {
        height: 120px;
        line-height: 120px; }

.dSlider .owl-nav {
  position: absolute;
  top: -60px;
  right: 7px; }
  .dSlider .owl-nav [class*=owl-] {
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
    padding: 0px;
    background: none !important;
    opacity: 0.6; }
    .dSlider .owl-nav [class*=owl-]:hover {
      opacity: 1; }
  .dSlider .owl-nav .owl-prev {
    background: url("../images/icons/arrow-df-slider.svg") no-repeat center !important;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg); }
  .dSlider .owl-nav .owl-next {
    background: url("../images/icons/arrow-df-slider.svg") no-repeat center !important; }

.postSidebar {
  float: left;
  margin: 0 40px 0 0; }

.sidebarList {
  padding: 0;
  margin: 0;
  background: #fff;
  padding: 18px 0 18px 18px;
  width: 305px; }
  .sidebarList li {
    list-style: none; }
  .sidebarList li {
    margin: 0 0 10px; }
    .sidebarList li:last-child {
      margin: 0; }
    .sidebarList li a {
      display: block;
      text-decoration: none;
      padding: 6px 15px;
      font-size: 18px; }
      .sidebarList li a:hover {
        text-decoration: none; }
      .sidebarList li a:hover {
        color: #60c71e; }

.red {
  color: #ff0e3f; }

.pageSlideBar {
  background: #f9f9f9;
  width: 305px;
  float: left;
  margin: 0 40px 0 0; }
  .pageSlideBar .sidebarList {
    width: 100%;
    background: #f9f9f9; }

.sideBarTitle {
  padding: 24px 30px;
  font-size: 18px;
  position: relative; }
  .sideBarTitle:after {
    height: 1px;
    background: #edeef4;
    left: 30px;
    right: 30px;
    bottom: 0px;
    position: absolute;
    content: ""; }

.pageRow {
  margin: 0 0 30px; }
  .pageRow:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }
  .pageRow:last-child {
    margin: 0; }

.pageContent {
  overflow: hidden; }
  .pageContent .productsList {
    margin: -15px 0 0; }
    .pageContent .productsList ul {
      margin: 0 -15px; }
      .pageContent .productsList ul li {
        width: 25%;
        padding: 15px; }
        .pageContent .productsList ul li a {
          height: auto; }
          .pageContent .productsList ul li a .itemData {
            height: auto;
            margin: 0 0 25px; }
          .pageContent .productsList ul li a .itemImage {
            height: auto; }

.categoryFirstItem {
  background: #f9f9f9;
  padding: 50px 40px; }
  .categoryFirstItem:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }
  .categoryFirstItem h1 {
    height: 66px;
    overflow: hidden;
    font-size: 50px; }
  .categoryFirstItem .itemPrice {
    color: #303030; }
  .categoryFirstItem .productData {
    margin: 0;
    width: 45%;
    float: left; }
  .categoryFirstItem .cfProductImage {
    width: 50%;
    float: right; }
    .categoryFirstItem .cfProductImage img {
      max-height: 426px; }

.btnRadius {
  border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px; }

.rowHead {
  margin: 0 0 30px; }
  .rowHead:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }
  .rowHead .sortMoreBtn {
    display: none; }

.filterBox {
  position: relative; }
  .filterBox:after {
    height: 1px;
    left: 0;
    width: 100%;
    background: #edeef4;
    position: absolute;
    content: '';
    bottom: 0; }

.filterTitle {
  padding: 22px 15px 20px 0;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  color: #4c4c4c; }
  .filterTitle:after {
    width: 10px;
    height: 7px;
    background: url(../images/icons/filter-arrow.svg) no-repeat center;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3.5px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -ms-transition: transform 0.2s; }
  .filterTitle.notArrow:after {
    display: none; }
  .filterTitle.closed:after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }

.filterCont {
  padding: 0 0 20px; }

.filterCheckList {
  padding: 0;
  margin: 0; }
  .filterCheckList li {
    list-style: none; }
  .filterCheckList li label {
    display: block;
    padding: 5px 0; }

.jq-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border: 1px solid #e4e5ec !important;
  background: none;
  box-shadow: 0 2px 0 #f2f2f2;
  -o-box-shadow: 0 2px 0 #f2f2f2;
  -moz-box-shadow: 0 2px 0 #f2f2f2;
  -webkit-box-shadow: 0 2px 0 #f2f2f2;
  -ms-box-shadow: 0 2px 0 #f2f2f2;
  margin: 0 10px 0 0; }
  .jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    background: #55c100;
    height: 8px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px; }

.filters {
  padding: 0 30px 30px; }

.selectedList {
  padding: 0;
  margin: 0;
  margin: 0 0 20px; }
  .selectedList li {
    list-style: none; }
  .selectedList li {
    margin: 0 0 10px; }
    .selectedList li a {
      display: block;
      text-decoration: none;
      padding: 0 0 0 28px;
      position: relative; }
      .selectedList li a:hover {
        text-decoration: none; }
      .selectedList li a:before {
        width: 17px;
        height: 16px;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: url(../images/icons/close-min.svg) no-repeat center;
        margin: -8px 0 0; }

.redLink {
  display: block;
  font-family: "AvenirNext-Medium";
  color: #ff4b64;
  text-decoration: none; }
  .redLink:hover {
    text-decoration: underline; }

#filterBtn {
  display: none; }

.openFilter {
  overflow: hidden; }

.galleryList .mediaImg a:after {
  display: none; }

.itemDate {
  font-size: 12px;
  color: #b2b6c5;
  margin: 0 0 8px; }

.photoAlbum ul {
  padding: 0;
  margin: 0;
  font-size: 0px;
  margin: 0 -10px; }
  .photoAlbum ul li {
    list-style: none; }
  .photoAlbum ul li {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 10px;
    width: 20%; }
    .photoAlbum ul li a {
      display: block; }
      .photoAlbum ul li a .imgBox {
        padding: 100% 0 0; }

.openModal #minBody,
.fancybox-active #minBody {
  -webkit-filter: blur(15px);
          filter: blur(15px); }

.fancybox-thumbs {
  background: none;
  width: 150px;
  top: 80px; }
  .fancybox-thumbs ul li {
    float: none;
    max-width: 100%;
    width: 57px;
    height: 57px;
    margin: 4px;
    position: relative; }
    .fancybox-thumbs ul li:after {
      width: 100%;
      height: 100%;
      background: rgba(243, 243, 243, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      content: ""; }
    .fancybox-thumbs ul li.fancybox-thumbs-active:before, .fancybox-thumbs ul li.fancybox-thumbs-active:after {
      display: none; }
    .fancybox-thumbs ul li img {
      position: relative;
      width: 100%;
      top: 0;
      left: 0; }

.fancybox-bg {
  background: rgba(224, 223, 223, 0.6); }

.fancybox-infobar {
  display: none; }

.fancybox-caption-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 60px;
  z-index: 99999;
  padding: 0;
  line-height: 60px;
  text-align: center; }
  .fancybox-caption-wrap .fancybox-caption {
    color: #575757;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 0;
    line-height: normal;
    font-size: 16px;
    font-family: "AvenirNext-Medium"; }

.fancybox-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  margin: 0;
  z-index: 999999; }
  .fancybox-toolbar .fancybox-button--close {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    background: url(../images/icons/close.svg) no-repeat center;
    background-color: #60c71e; }
    .fancybox-toolbar .fancybox-button--close svg {
      display: none; }

.fancybox-toolbar,
.fancybox-caption-wrap {
  opacity: 1 !important;
  visibility: visible !important; }

.fancybox-image-wrap {
  margin: 30px 0 0 !important; }

.fancybox-navigation {
  display: block;
  position: absolute;
  top: 50%;
  right: 0; }
  .fancybox-navigation button {
    position: relative;
    margin: 0;
    width: 26px;
    height: 26px;
    background: none; }
    .fancybox-navigation button svg {
      display: none; }
    .fancybox-navigation button:before {
      display: none; }
  .fancybox-navigation .fancybox-button--arrow_left {
    margin: 40px 15px 0 0;
    background: url(../images/icons/arrow-bottom.svg) no-repeat center; }
  .fancybox-navigation .fancybox-button--arrow_right {
    background: url(../images/icons/arrow-top.svg) no-repeat center; }

.cartPage {
  max-width: 1100px;
  margin: 0 auto; }

.cartTable {
  margin: 0 0 30px; }
  .cartTable table tr {
    border-bottom: 2px solid #eaeaea; }
  .cartTable table thead tr td {
    padding: 10px 20px;
    font-size: 16px;
    color: #191919; }
  .cartTable table tbody tr td {
    padding: 16px 20px;
    vertical-align: top; }
    .cartTable table tbody tr td:first-child {
      width: 120px; }
  .cartTable .closeBtn {
    float: right; }

.cartPImage {
  width: 88px;
  height: 88px;
  text-align: center;
  line-height: 88px; }
  .cartPImage img {
    max-height: 100%; }

.cartPTitle {
  font-size: 16px;
  margin: 0 0 8px; }

.cartPPrice {
  font-family: "AvenirNext-Medium";
  color: #ff8800; }

.cartNum {
  background: none;
  border: none;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none; }
  .cartNum .val {
    border: 1px solid #979797; }

.cartRowPrice {
  font-family: "AvenirNext-Medium";
  white-space: nowrap;
  padding: 12px 0 0; }

.closeBtn {
  width: 20px;
  height: 20px;
  background: url(../images/icons/closebtn.svg) no-repeat center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  margin: 10px 0 0; }
  .closeBtn:hover {
    text-decoration: none; }

.cartTableTotals {
  text-align: right;
  margin: 0 0 40px; }
  .cartTableTotals p span {
    font-size: 22px;
    font-family: "AvenirNext-Medium"; }

.uppercase {
  text-transform: uppercase; }

.cartSubmit {
  width: 250px;
  max-width: 100%; }

.checkoutPage {
  max-width: 716px;
  margin: 0 auto; }
  .checkoutPage .cartTableTotals {
    margin: -20px 0 60px; }

.stepsCheckout {
  padding: 0;
  margin: 0;
  font-size: 0;
  margin: 0 0 40px; }
  .stepsCheckout li {
    list-style: none; }
  .stepsCheckout li {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 33.3333333%;
    border-bottom: 1px solid #e4eaee;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #d4d9dd;
    font-weight: bold; }
    .stepsCheckout li.active {
      border-color: #60c71e;
      color: #000; }

.fAddCh {
  float: left;
  height: 50px;
  line-height: 48px;
  padding: 0 12px;
  font-size: 16px;
  background: #f8fafb; }

.fAdd {
  border: 1px solid #dde3e8;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px; }
  .fAdd input {
    border: none; }

.focused .fAdd {
  border-color: #60c71e; }

.whiteBody {
  background: #fff; }

.btnBack {
  padding: 10px 0;
  color: #788995;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  position: relative;
  text-align: center; }
  .btnBack:hover {
    text-decoration: underline; }
  .btnBack:before {
    background: url(../images/icons/backArrow.svg) no-repeat center;
    width: 15px;
    height: 14px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 10px 0 0; }

.submitCheckout:after {
  width: 0;
  height: 0;
  clear: both;
  content: '';
  display: block; }

.fieldText {
  font-size: 12px;
  font-family: "AvenirNext-Medium";
  margin: 10px 0 0; }
  .fieldText:after {
    width: 0;
    height: 0;
    clear: both;
    content: '';
    display: block; }

.timer {
  float: right;
  color: #ff2336; }

.checkoutBox {
  margin: 0 0 50px; }

.addressBox {
  border: 1px solid #dde3e8;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  position: relative;
  min-height: 180px; }
  .addressBox .addressColl {
    width: 50%;
    padding: 28px;
    font-size: 16px;
    color: #788995; }
  .addressBox .mapsColl {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%; }
    .addressBox .mapsColl iframe,
    .addressBox .mapsColl img {
      width: 100%;
      height: 100%; }

.addressRL {
  font-size: 14px;
  font-weight: bold; }
  .addressRL a {
    text-decoration: none;
    color: #0095f8; }
    .addressRL a:hover {
      text-decoration: underline; }
    .addressRL a:after {
      width: 4px;
      height: 4px;
      border-radius: 50px;
      -o-border-radius: 50px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      -ms-border-radius: 50px;
      background: #d4d9dd;
      content: "";
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin: 0 10px; }
    .addressRL a:last-child:after {
      display: none; }

.dMethods {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 0px; }

.dMethodBox {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
  padding: 10px;
  vertical-align: top; }
  .dMethodBox label {
    display: block;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border: 1px solid #dde3e8;
    padding: 30px 30px 30px 70px; }
    .dMethodBox label:after {
      width: 0;
      height: 0;
      clear: both;
      content: '';
      display: block; }
    .dMethodBox label .styler {
      float: left;
      margin: 3px 0 0 -32px; }

.jq-radio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  background: none;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none; }
  .jq-radio.checked {
    border: 2px solid #0095f8; }
    .jq-radio.checked .jq-radio__div {
      width: 8px;
      height: 8px;
      box-shadow: none;
      -o-box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -ms-box-shadow: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -4px 0 0 -4px;
      background: #0095f8; }

.dMethodTitle {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #1b2125;
  margin: 0 0 10px; }

.dMethodPrice {
  margin: 0 0 10px;
  color: #1b2125;
  font-weight: bold;
  float: right; }

.dMethodDesc {
  display: block;
  color: #788995;
  overflow: hidden;
  width: 100%; }

.jq-selectbox {
  width: 100%; }
  .jq-selectbox .jq-selectbox__select {
    width: 100%;
    height: 50px;
    background: none;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    border: 1px solid #dde3e8 !important;
    padding-left: 15px;
    line-height: 48px;
    font-size: 16px;
    text-shadow: none; }
    .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
      border: none; }
      .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
        width: 13px;
        height: 8px;
        background: url(../images/icons/arrow-bottom.svg) no-repeat center;
        background-size: cover;
        border: none;
        right: 20px;
        top: 50%;
        margin: -4px 0 0 0; }
  .jq-selectbox.opened .jq-selectbox__select {
    border: 1px solid #60c71e !important; }

.jq-selectbox li:hover {
  background: #60c71e; }

.payMethods {
  margin-left: -5px;
  margin-right: -5px; }
  .payMethods .dMethodBox {
    width: 100%; }

.page404 {
  text-align: center; }
  .page404 .btn1 {
    font-size: 14px;
    min-width: 250px;
    padding: 14px 20px; }

.page404Img {
  margin: 0 0 40px; }

.page404H1 {
  font-size: 48px;
  color: #646464;
  font-family: "AvenirNext-Regular";
  margin: 0 0 45px; }

.starsList span {
  width: 10px;
  height: 9px;
  background: url(../images/icons/star-def.svg) no-repeat center;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 3px 0 0; }
  .starsList span.active {
    background-image: url(../images/icons/star-active.svg); }

.starsList.starsListB span {
  width: 16px;
  height: 15px;
  margin: 0 4px 0 0; }

.MagicScroll {
  height: 380px; }

.pColor {
  margin: 0 0 30px; }

.pColor a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 36px;
  height: 36px;
  border: 1px solid #e4e5ec;
  position: relative;
  margin: 0 10px 0 0; }

.pColor a span {
  width: 18px;
  height: 18px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -9px; }

.nPage {
  max-width: 440px;
  margin: 0 auto; }

.nPage .btn1 {
  width: 100%;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none; }

.nPageBox {
  margin: 30px 0;
  background: #f6f6f6;
  padding: 0 20px 20px;
  text-align: center; }

.nPageBox h1 {
  font-size: 30px;
  font-family: "AvenirNext-Regular"; }

.nPageBox p {
  font-size: 20px; }

.check-ico {
  position: relative;
  top: -30px; }

.mCSB_inside > .mCSB_container {
  margin-right: 6px; }

.mCSB_scrollTools {
  width: 6px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  margin: 0;
  background: #60c71e !important;
  border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px; }

